@CHARSET "UTF-8";

body {
	height: 600px;
	background-color: #f4fbfb;
}

#content {
	height: 486px;
	width: 100%;
}

#title{
	margin-left: 20px;
	font-style: inherit;
	font-weight: bold;
	padding-top: 10px;
}



#form {
	height: 460px;
	width: 70%;
	margin-top: 10px;
	margin-left:15%;
	margin-bottom: 10px;
	background-color: white;
	border-radius:20px;
	
}

#errorMsg{
	color: red;
	text-align: left;
}


